.special-img {
  height: 170px;
  object-fit: cover;
}

@include media-breakpoint-up(md) {
  .special-img {
    height: 300px;
  }
}

@include media-breakpoint-up(lg) {
  .special-img {
    height: 180px;
  }
}
